<!doctype html>
<html class="dark-theme" lang="es">

<body>
	<div class="wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-xl-2">
                                <a [routerLink]="['/main/add-product']" class="btn btn-outline-primary mb-3 mb-lg-0"><i class='bx bxs-plus-square'></i>Producto Nuevo</a>
                            </div>
                            <div class="col-lg-9 col-xl-10">
                                <form class="float-lg-end">
                                    <div class="row row-cols-lg-auto g-2">
                                        <div class="col-12">
                                            <div class="position-relative">
                                                <input type="text" class="form-control ps-5" placeholder="Search Product..."> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" class="btn btn-white">Sort By</button>
                                                <div class="btn-group" role="group">
                                                  <button id="btnGroupDrop1" type="button" class="btn btn-white dropdown-toggle dropdown-toggle-nocaret px-1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class='bx bx-chevron-down'></i>
                                                  </button>
                                                  <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                                  </ul>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" class="btn btn-white">Collection Type</button>
                                                <div class="btn-group" role="group">
                                                  <button id="btnGroupDrop1" type="button" class="btn btn-white dropdown-toggle dropdown-toggle-nocaret px-1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class='bx bxs-category'></i>
                                                  </button>
                                                  <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                                  </ul>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-white">Price Range</button>
                                                <div class="btn-group" role="group">
                                                  <button id="btnGroupDrop1" type="button" class="btn btn-white dropdown-toggle dropdown-toggle-nocaret px-1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class='bx bx-slider'></i>
                                                  </button>
                                                  <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="btnGroupDrop1">
                                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                                  </ul>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid" >
            <div class="col" *ngFor="let producto of producto">
                <div class="card">
                    <div *ngFor="let imagen of product_imagen">
                      <div *ngIf="imagen.id == producto.presentacion_Producto_ID">
                        <img src="{{imagen.img_normal}}" class="card-img-top" alt="{{producto.nombre_producto}}">
                        <div class="">
                            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title cursor-pointer">{{producto.nombre_producto}}</h6>
                            <div class="clearfix">
                                <p class="mb-0 float-start"><strong>{{producto.cantidad}}</strong> Stock</p>
                                <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">S./ {{producto.precio + 50}}</span><span>{{producto.precio}}</span></p>
                            </div>
                            <div class="d-flex align-items-center mt-3 fs-6">
                              <div class="cursor-pointer">
                                <i class='bx bxs-star text-warning'></i>
                                <i class='bx bxs-star text-warning'></i>
                                <i class='bx bxs-star text-warning'></i>
                                <i class='bx bxs-star text-warning'></i>
                                <i class='bx bxs-star text-secondary'></i>
                              </div>	
                              <p class="mb-0 ms-auto">4.2</p>
                            </div>
                            <div class="d-flex justify-content-center">
                              <form>
                                <a [routerLink]="['/main/producto',producto.id]">
                                  <button type="submit" class="btn btn-outline-primary mb-3 mb-lg-0 pt-2 px-4">Ver detalles</button>
                                </a>
                              </form>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!--end wrapper-->
	<!--start switcher-->
	
	<!--end switcher-->
	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<!--app JS-->
	<script src="assets/js/app.js"></script>
</body>


<!-- Mirrored from codervent.com/amdash/demo/vertical/ecommerce-products.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jul 2022 04:46:56 GMT -->
</html>